<div
    class="h-100vh pt-50 pb-50"
    [class.component-dark-theme]="themeService.isDark()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.card-border-radius]="themeService.isCardBorderRadius()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="ast-form ms-auto me-auto">
                <div class="title">
                    <div class="d-flex mb-10 align-items-center">
                        <h2 class="mb-0 me-30">Get Started</h2>
                        <img src="assets/images/tagus.png" alt="logo-icon" />
                    </div>
                    <p>
                        Don’t have an account?
                        <a
                            routerLink="/auth/register"
                            class="main-color fw-medium"
                            >Register now!
                        </a>
                    </p>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div
                        class="login-with-socials d-md-flex align-items-center justify-content-space-between"
                    >
                        <!-- Login with Google button -->
                        <app-flat-button
                            class="me-5"
                            text="Login with Google"
                            [isSecondary]="true"
                            [isImage]="true"
                            imagePath="assets/images/icon/google.png"
                            imageAlt="google"
                        ></app-flat-button>
                        <app-flat-button
                            class="ms-5"
                            text="Login with Facebook"
                            [isSecondary]="false"
                            [isImage]="true"
                            imagePath="assets/images/icon/facebook.png"
                            imageAlt="facebook"
                        ></app-flat-button>
                    </div>
                    <div class="or text-center position-relative">
                        <span class="fw-semibold fs-16">or</span>
                    </div>
                    <div class="bg-white border-radius pt-20 ps-20 pe-20">
                        <app-label-input
                            title="Email Address"
                            placeholder="Enter email address"
                            [required]="true"
                            [iconLabel]="true"
                            [icon]="'ri-mail-fill'"
                            [control]="loginForm.controls['email']"
                            formControlName="email"
                        ></app-label-input>
                        <app-label-password
                            title="Password"
                            placeholder="Enter your password"
                            [required]="true"
                            [iconLabel]="true"
                            formControlName="password"
                            [control]="loginForm.controls['password']"
                        ></app-label-password>
                    </div>
                    <div
                        class="d-flex info align-items-center justify-content-space-between"
                    >
                        <mat-checkbox class="gray-color"
                            >Remember me</mat-checkbox
                        >
                        <a
                            routerLink="/authentication/forgot-password"
                            class="d-inline-block main-color fw-medium"
                            >Forgot your password?</a
                        >
                    </div>
                    <app-flat-button
                        text="Log In"
                        type="submit"
                        [isSecondary]="false"
                        routerLink="''"
                    ></app-flat-button>
                </form>
            </div>
        </div>
    </div>
</div>
